body {
  font-family: 'Comfortaa', cursive;
  background-color: rgb(177, 162, 145);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  position: fixed;
  padding: 0.9rem;
  z-index: 1;
}

.logo {
  font-size: 2rem;
  color: rgb(109, 85, 58);
}

.searchBtn {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  border: 2px solid rgb(109, 85, 58);
  background-color: white;
  color: rgb(109, 85, 58);
  border-radius: 12px;
  padding: 10px;
  text-decoration: none;
}
.searchBtn:hover {
  background-color: rgb(109, 85, 58);
  border-color: transparent;
  cursor: pointer;
  color: white;
  animation: buttonPop 250ms forwards;
}
.searchBtn:active {
  animation: buttonPop 250ms reverse;
}

.image-grid {
  margin: 0 15rem;
  padding: 13rem 0 13rem 0;
  display: grid;
  place-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

.card {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0.8;
  animation: imageLoad 600ms backwards;
}
.card:hover {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.9);
  z-index: 2;
  animation: imagePop 400ms forwards;
}

@keyframes imageLoad {
  from {
    opacity: 0;
    transform: rotate(0deg);
    border-radius: 50%;
  }

  to {
    opacity: 0.8;
    transform: rotate(360deg);
  }
}
@keyframes imagePop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}
@keyframes buttonPop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
